@font-face {
	font-family: Comfortaa;
	src: url(fonts/Comfortaa.ttf);
  }

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
}

body {
	background-color: #2a2226;
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Comfortaa;
	font-weight: 700;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	background-color: #2a2226;
	color: white;
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
}

textarea:focus, input:focus{
    outline: none;
}

input:disabled {
	color: #ccc;
}

button {
	color: white;
	background-color: #54454c;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #a38f98;
}

button:focus {
	border-color: #a38f98;
}

::selection {
	background: #ac396d;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #3d3337; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #9e999b;
border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #a38f98; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="range"] {
	-webkit-appearance: none;
	height: 10px;
  }

input[type="range"]::-webkit-slider-runnable-track {
	background-color: #1c1719;
	border-radius: 5px;
	height: 7px;
  }

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background: #ff66ab;
	cursor: ew-resize;
}
