.color-picker .react-colorful__saturation {
    display: none;
  }

.color-picker .react-colorful__hue {
  height: 14px;
  border-radius: 5px;
}

.color-picker .react-colorful {
    height: 14px;
    width: 80%;
}
